@model DNetFinalProject.Models.TransactionHistory

@{
    ViewBag.Title = "Transaction Details";
}

    <h2>Transaction Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncomingCurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomingCurrencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutgoingCurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutgoingCurrencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutgoingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutgoingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
