@model IEnumerable<DNetFinalProject.Models.TransactionHistory>

@{
    ViewBag.Title = "Transactio History";
}

<h2>Transactio History</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IncomingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutgoingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayName(item.IncomingAmount + " " + item.IncomingCurrencyCode)
        </td>
        <td>
            @Html.DisplayName(item.OutgoingAmount + " " + item.OutgoingCurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
