@model IEnumerable<DNetFinalProject.Models.TransactionHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IncomingCurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutgoingCurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncomingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutgoingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IncomingCurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutgoingCurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncomingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutgoingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
